// 清除浮动
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: ' ';
  }
  &:after {
    clear: both;
  }
}

.autoDV-common-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}
.alert-container {
  
}