/**
 * 重置样式
 */

*,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

// 自定义滚动条样式
* {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #394b59;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

#root {
  width: 100vw;
  height: 100vh;
  &.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


// 在"修改数据源 Drawer"打开时，使抽屉背后的透明层全屏，保证点击空白处只让抽屉隐藏
.autoDV-datasource-drawer {
  position: fixed !important;
  background: none;
}

// drawer展开时，可操作其他元素
.autoDV-penetrate-drawer {
  background: none;
  top: 0px;
  right: 0px;
  // display: none;
}

